<div class="center-block">
    <table class="center-block">
        {% for key, field in record %}
            {% if key != 'callList' %}
                {% if key == 'key' %}
                    <tr>
                        <th class="c1">{{ key }}</th>
                        <td class="c2" colspan="2"><a href="{{ base_URL }}/index.php?page=get_bib&bib_key={{ field }}">{{ field }}</a></td>
                    </tr>
                {% elseif key == 'author' %}
                    <tr>
                        <th class="c1">{{ key }}</th>
                        <td class="c2" colspan="2"><a href="{{ base_URL }}/index.php?page=search&terms={{ author_search }}">{{ field }}</a></td>
                    </tr>
                {% elseif key == 'title' %}
                    <tr>
                        <th class="c1">{{ key }}</th>
                        <td class="c2" colspan="2"><a href="{{ base_URL }}/index.php?page=search&terms={{ title_search }}">{{ field }}</a></td>
                    </tr>
                {% elseif key == '856_u' %}
                    <tr>
                        <th class="c1">{{ key }}</th>
                        <td class="c2" colspan="2"><a href="{{ field }}">{{ field }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <th class="c1">{{ key }}</th>
                        <td class="c2" colspan="2">{{ field }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for i, call in record.callList %}
            <tr><td colspan="3"><hr></td></tr>
            {% for key, field in call %}
                <tr>
                    {% if key == 'key' %}
                        <th class="c2" colspan="2">item key</th>
                        <td class="c1"><a href="{{ base_URL }}/index.php?page=get_item&item_key={{ field }}">{{ field }}</a></td>
                    {% else %}
                        <th class="c2" colspan="2">{{ key}}</th>
                        <td class="c1">{{ field }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <br>
</div>
