<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex">
        <meta name="application-name" content="libpaging2">
        <meta name="author" content="Multnomah County IT">
        <meta name="language" content="en">
        <link rel="stylesheet" type="text/css" href="{{ styles_path }}">
        <link rel="icon" type="image/x-icon" href="{{ favicon_path}}">
        <title>{{ page_title }}</title>
    </head>
    <body>
        <div class="header">
            <a class="logo center-flex" href="{{ logo_link_path }}"><img class="logo" src="{{ logo_path }}" 
                alt="Multnomah County Library Logo"></a>
            <div class="header-right center-flex">
                {% for menu_item in menu_items %}
                    &nbsp;&nbsp;<a class="{{ menu_item.class }}" href="{{ base_URL }}{{ menu_item.link }}">{{ menu_item.name }}</a>
                {% endfor %}
            </div>
        </div>
