<h1 class="center-text">Multnomah County Library Paging Lists for {{ today }}</h1>
<p class="list list-narrow">
{% for code, name in branches %}
    <a href="{{ base_URL }}/index.php?page=library&code={{ code }}">{{ name }}</a><br>
{% endfor %}
</p>
<div class="center-text">
<form id="update_paging" method="get" action="{{ base_URL }}/index.php">
<input form="update_paging" name="page" type="hidden" value="index_list">
<input form="update_paging" name="update" type="hidden" value="1">
<input class="submit" form="update_paging" value="Update Paging Lists" type="submit">
</form>
</div>
<p class="center-text small">{{ update }}</p>
