<div class="center-block">
    <form id="search" action="/index.php">
        <p class="list list-wide">
            <input type="hidden" form="search" name="page" value="search">
            <label for="index">Index:</label><br>
            {{ index_select | raw }}<br>
            <label for="terms">Terms:</label><br>
            <input type="text" form="search" id="terms" name="terms" value="{{ terms }}" size="40" maxlength="60" required><br>
            <label for="field_list">Field List:</label><br>
            <textarea class="field_list" form="search" id="field_list" name="field_list" rows="2" cols="70" maxlength="256" required>{{ field_list }}</textarea><br><br>
            <input type="radio" form="search" id="j_AND" name="j" value="AND"{{ j_AND }}><label for="j_AND">AND</label>
            <input type="radio" form="search" id="j_OR" name="j" value="OR"{{ j_OR }}><label for="j_OR">OR</label>
            <label for="ct">&nbsp;&nbsp;&nbsp;&nbsp;Max Rows to Return: </label>
            <input type="text" form="search" id="ct" name="ct" value="{{ ct }}" size="4" maxlength="4" required><br><br>
            <input type="submit" form="search" value="Search">
        </p>
    </form>
</div>
<hr>
<div id="record">
